body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.board-row:after {
  clear: both;
  content: "";
  display: block;
  /* margin-top: -10px; */
  /* margin-top: -0.8%; */
  margin-top: -0.7vh;
}

.square {
  float: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 19px;
  margin-right: -1px;
  /* margin-top: -10px; */
  /* margin-bottom: 0px; */
  padding: 0;
  text-align: center;
  /* height: 19px;
  width: 19px; */
  /* height: 19px; */
  width: 3%;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.whiteSquare {
  background: #fff;
  border: 1px solid #999;
}
.blackSquare {
  background: #000000;
  border: 1px solid #000000;
}

button:focus {
  outline: none;
  background: black;
}

.boardCard {
  background: #fff;
  height: 2cm;
}
