body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.board-row:after {
  clear: both;
  content: "";
  display: block;
  /* margin-top: -10px; */
  /* margin-top: -0.8%; */
  margin-top: -0.6vh;
}

.square {
  float: center;
  font-size: 75%;

  line-height: 10px;
  margin-right: -1px;
  /* margin-top: -10px; */
  /* margin-bottom: 0px; */
  padding: 0;
  text-align: center;
  height: 19px;
  width: 19px;
  /* height: 19px; */
  /* width: 3%; */
}

.whiteSquare {
  background: #fff;
  border: 1px solid #999;
}
/* .whiteSquare:after {
  content: "";
  display: block;
  padding-bottom: 100%;
} */
.blackSquare {
  background: #000000;
  border: 1px solid #000000;
}

.blackText {
  color: black;
}
.whiteText {
  color: white;
}

button:focus {
  outline: none;
  background: black;
}

.boardCard {
  width: 700px;
  height: 700px;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}
